:root {
    --main-color: darkblue;
}

body {
    background-color: cornsilk;
}

div{
    color:var(--main-color);
    border: solid var(--main-color);
    width: 20%;
    height: 20%;
    position: absolute;
    text-align: center;
}

button {
    font-style: oblique;
    background-color: var(--main-color);
    border-radius: 1em;
    color: white;
    border: thin solid var(--main-color);
    font-size: 1vw;
    font-weight: bold;
    width: 7%;
    height: 5%;
    top: 23%;
    position: absolute;
}

#listRoomsButton{
    left: 8%;
}

#addItemButton{
    left: 16%;
}

button:hover {
    background-color: purple;
    cursor: pointer;
}

#printableButton{
    background-color: cornsilk;
    left: 22%;
    top: 2%;
    border: thin solid white;
}

#printableButton:hover{
    background-color: #910093;
}

#output{
    position: absolute;
    top: 30%;
    font-size: 1.6vw;
    border: none;
    width: 100%;
}

td{
    border-bottom: thin solid gray;
}

